@import './layout/layout.scss';
@import "tailwindcss";

@theme{
  --color-primary: #101828;
  --color-secondary: #201828;
  --color-bordercolor: #364153;
}
@layer base {
  body {
    @apply relative z-[1] text-base font-normal;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #252525;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}